
<div class="container" style="clear: both;display: table;">
  <div class="row m-3">

    <div class="card col-md-4" *ngFor="let article of articles">
      <div class="card-body">
        <h5 class="card-title"> {{ article.title }} </h5>
        <p class="card-text">
          {{ article.description }}
        </p>
      </div>
    </div>

  </div>
</div>

<div class="col-12 col-md-auto">
  <div class="d-flex justify-content-center">
    <button 
    class="btn waves-effect waves-light btn-rounded btn-primary"
    [disabled]="isNotMore"
    (click)="showMore(5)">Ver Mas</button>
  </div>
</div>
